#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  height: 100%;
  background: linear-gradient( rgba(160, 117, 117, 0.3), rgba(0, 0, 0, 0.3) );
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction:column;
}

.fees-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 60% ;  
}

.fees-form__label{

  font-size:larger;
  font-weight: bold;
  padding: 1%;
  margin: 1%;
  display: flex;

  border-radius: 2%;
  
}

.fees-form__label_div{
  display: flex;
  align-items: center;
  width: 15%;
}


.fees-form__span{
  font-weight: bold;
  
}

.selected-option{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color:green;
}

.btn{
  border-radius: 5px 15px;
}